@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    height:100%;
    width:100%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    height: 100%;
    width:100%;
    color:var(--Very-dark-desaturated-blue);
}

main{
    background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position:-381px -557px, 622px 391px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--Dark-cyan);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    position: relative;
}


.card{
    border-radius: 20px;
    max-width:400px;
    width: 90%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);  
}

.header{
    background: url(images/bg-pattern-card.svg);
    background-size: cover;
    width:100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header img{
    margin-bottom: -50px;
    border-radius: 50px;
    border: 2px solid white;
    display: block;

}

.content{
    background: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 280px; */
    border-radius: 0 0 20px 20px;
}

.title{
    margin-bottom: 30px;
    padding-top: 70px;
}

.name{
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    gap:10px;
}

.age, .city{
    font-weight: 200;
    color:var(--Dark-gray);
    font-size: 1.1rem;
}

.city{
    text-align: center;
    margin-top:5px;
    font-size: 1rem;
}   

.stats{
    width:100%;
    border-top: 1px solid hsla(0, 0%, 59%, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 20px 40px;
    text-align: center;

}

.number{
    font-size: min(1.1rem, 5vw);
    display:flex;
    flex-direction:column;
    line-height: 1.8rem;
}

.media{
    font-weight: 400;
    color:var(--Dark-gray);
    font-size:min(.9rem, 4vw);
    letter-spacing: .1rem;
}

.attribution{
    font-size: .9rem;
    padding: 1rem;
    color: var(--Very-dark-desaturated-blue);
}

@media (max-width: 375px){
    main{
        background-position:135% 290%, -38% -157%;
    }
}

@media (min-width: 376px) and (max-width: 415px){
    main{
        background-position: 137% 294%, -32% -176%;
    }
}

@media(min-width: 416px) and (max-width: 500px){
    main{
        background-position:136% 233%, -36% -201%;
    }
}

@media(min-width: 501px) and (max-width: 600px){
    main{
        background-position:159% 237%, -56% -195%;
    }
}

@media(min-width: 601px) and (max-width: 635px){
    main{
        background-position:183% 209%, -74% -231%;
    }
}

@media(min-width: 636px) and (max-width: 700px){
    main{
        background-position:197% 208%, -83% -219%;
    }
}

@media(min-width: 701px) and (max-width: 750px){
    main{
        background-position:218% 201%, -115% -232%;
    }
}

@media(min-width: 751px) and (max-width:800px){
    main{
        background-position: 260% 201%, -158% -239%;
    }
}